# Auto detect text files and perform LF normalization
* text=auto

assets/* linguist-vendored

/installers             export-ignore
/release-builds         export-ignore
/node_modules           export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore