<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="Spotify Lyrics Machine-Wide Installer" Language="1033" Version="!(bind.FileVersion.spotify-lyrics.exe)" UpgradeCode="742007a7-d730-5352-9232-0df06d5af957" Manufacturer="Sebastian Schuler">

    <Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes"/>
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

    <PropertyRef Id="NETFRAMEWORK45" />

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Spotify Lyrics Installer" />
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="spotify-lyrics.exe" Guid="d8cfbe17-12c9-5116-a361-c7fea5052897">
        <File Id="spotify-lyrics.exe" Name="spotify-lyrics.exe" Source="./Setup.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="6293bec9-ae8f-56a5-a4fc-1a6f560e018f">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="expandable" Name="spotify-lyricsMachineInstaller" Value="%ProgramFiles%\Spotify Lyrics Installer\spotify-lyrics.exe --checkInstall" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="spotify-lyrics.exe" />
      <ComponentRef Id="RegistryEntries" />
    </Feature>
  </Product>
</Wix>

